# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o

# Can always reconstruct locally if code works
data/sim/reconstructed_*
data/physionet/reconstructed_*

# Binaries
a.out
c/bin

# Vim swap files
*.swp
